.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 15px;

    .back {
        cursor: pointer;
    }

    .pending-to-update {
        margin: auto;

        .checkbox {
            margin-left: 20px;
        }
    }
    .form {
        flex: 1;

        .spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            ::ng-deep circle {
                stroke: #48803e;
            }
        }

        .tabs {
            margin: 15px 0;
            flex: 1;
        }
    }

    .btns {
        display: flex;
        justify-content: center;
        margin: 15px 0;

        button {
            margin: 0 10px;
        }
    }
}
.indexControlContainer {
    width: 100%;
    text-align: center;
    .indexLoad {
        width: fit-content;
    }
    .indexOverload {
        width: fit-content;
        color: red;
    }
}
