<div class="main" *ngIf="ready">
    <div class="title" *ngIf="type=='EDIT'">
        {{ title }}
    </div>
    <div class="title" *ngIf="type=='CREATE'">
        {{'Crear nueva pasarela'}}
    </div>

    <div class="back">
        <button mat-icon-button (click)="back()" aria-label="Volver a configuración">
            <mat-icon>keyboard_backspace</mat-icon>
            {{'Volver'}}
        </button>
    </div>
    
    <div class="pending-to-update">
        <mat-label>{{'Pendiente actualizar'}}</mat-label>  
        <mat-checkbox class="checkbox" [checked]="gateway.pendiente_actualizar === 1" [disabled]="true"></mat-checkbox>
    </div>

    <form class="form" [formGroup]="gatewayForm">
        
        <spinner *ngIf="showSpinner"></spinner>

        <mat-tab-group class="tabs" [selectedIndex]="tabIdx">
            <mat-tab label="General">
                <ng-template matTabContent>
                    <gateway-general [gateway]="gateway" [type]="type" [form]="gatewayForm"></gateway-general>
                </ng-template>
            </mat-tab>
            <mat-tab label="Servicios">
                <ng-template matTabContent>
                    <gateway-services [gateway]="gateway" [gatewayIps]="gatewayIps" [form]="gatewayForm">
                    </gateway-services>
                </ng-template>
            </mat-tab>
            <mat-tab label="Hardware" *ngIf="type=='EDIT'">
                <ng-template matTabContent>
                    <gateway-hardware [gateway]="gateway"></gateway-hardware>
                    <div class="indexControlContainer">
                        <span *ngIf="LoadIndexControlEnabled" [ngClass]="selectedClass">Indice de carga: {{loadIndex}}</span>
                    </div>
                </ng-template>
                
            </mat-tab>
        </mat-tab-group>
    </form>
    
    <div class="btns" *ngIf="!visualizationMode">
        <button mat-raised-button (click)="activateInField()" *ngIf="type == 'EDIT'">{{'Activar en campo'}}</button>
        <button mat-raised-button (click)="createGateway()" *ngIf="type == 'CREATE'">{{'Guardar'}}</button>
        <button mat-raised-button (click)="updateGateway()" *ngIf="type == 'EDIT'">{{'Guardar'}}</button>
        <button mat-raised-button (click)="copyGateway()" *ngIf="type == 'EDIT'">{{'Copiar'}}</button>
        <button mat-raised-button (click)="deleteGateway()" *ngIf="type == 'EDIT'">{{'Eliminar'}}</button>
        <button mat-raised-button (click)="exportGateway()" *ngIf="type == 'EDIT'">{{'Exportar'}}</button>
    </div>
</div>