<div class="title" *ngIf="type === 'EDIT'">
    {{'Editar usuario: '}} {{ user.name }}
</div>
<div class="title" *ngIf="type === 'CREATE'">
    {{'Crear Usuario'}}
</div>

<form class="form" [formGroup]="userForm" *ngIf="ready">
    
    <spinner *ngIf="showSpinner"></spinner>
    
    <div class="inputs">
        <mat-form-field appearance="fill" [ngClass]="{'error': userForm.controls['name'].hasError('pattern')}">
            <mat-label>{{'Id. Operador'}}</mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="userForm.controls['name'].hasError('required')">
                {{ appset.FIELD_REQUIRED }}
            </mat-error>
            <mat-error *ngIf="userForm.controls['name'].hasError('pattern')">
                {{ appset.INVALID_NAME }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'Clave'}}</mat-label>
            <input matInput type="password" required formControlName="clave">
            <mat-error *ngIf="userForm.controls['clave'].hasError('required')">
                {{ appset.FIELD_REQUIRED }}
            </mat-error>
        </mat-form-field>
    </div>

    <div class="perfiles">
        Perfiles Asociados
        <br/>
    </div>

    <div class="checkboxes" formArrayName="permissions">
        <div class="col">
            <div *ngFor="let permission of permissions().controls; let i=index">
                <div [formGroupName]="i">
                    <div class="form-item" *ngIf="permission.value.id <= MAX_COLUMN_ITEMS">
                        <mat-checkbox class="checkbox" formControlName="selected">{{permission.value.name}}</mat-checkbox>
                        <!-- <mat-label>
                            {{permission.value.name}}
                        </mat-label> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div *ngFor="let permission of permissions().controls; let i=index">
                <div [formGroupName]="i">
                    <div class="form-item" *ngIf="permission.value.id > MAX_COLUMN_ITEMS">
                        <mat-checkbox class="checkbox" formControlName="selected">{{permission.value.name}}</mat-checkbox>
                        <!-- <mat-label>
                            {{permission.value.name}}
                        </mat-label> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

<div class="btns">
    <button mat-raised-button (click)="saveUser()">{{'Guardar'}}</button>
    <button mat-raised-button (click)="deleteUser()" *ngIf="type === 'EDIT'">{{'Eliminar'}}</button>
    <button mat-raised-button class="cancel-btns" (click)="dialogRef.close()" cdkFocusInitial>{{'Cancelar'}}</button>
</div>