:host {

    .users {
        
        margin: 15px;
    }

    .btn {

        display: flex;
        margin: 20px 0;
        
        .local-btn {
            margin: auto;
            margin-right: 0;
            button{
                margin: 5px;
            }
        }
    }

    .table {

        mat-cell, mat-header-cell {
        
            display: flex;
        }
    }
}