<form class="form" [formGroup]="resourceForm">
    <mat-form-field *ngIf="displayInputAudio" appearance="fill">
        <mat-label>{{ 'resource.radio.audio_input' | translate }}</mat-label>
        <mat-select formControlName="indicacion_entrada_audio" (selectionChange)="displayUmbralVAD($event.value)"
            name="iAudio">
            <mat-option *ngFor="let type of iAudio" [value]="type.value">
                {{type.viewValue | translate  | translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="vadIsSelected" appearance="fill">
        <mat-label>{{ 'resource.radio.umbral_vad' | translate }}</mat-label>
        <input matInput formControlName="umbral_vad">
        <mat-error
            *ngIf="resourceForm.get('umbral_vad')?.hasError('min') || resourceForm.get('umbral_vad')?.hasError('max')">
            {{ appset.INVALID_RANGE_VAD | translate }}
        </mat-error>
        <mat-error *ngIf="resourceForm.get('umbral_vad')?.hasError('pattern')">
            {{ appset.NUMBERS_FORMAT_INVALID | translate }}
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="displayOutputAudio" appearance="fill">
        <mat-label>{{ 'resource.radio.audio_output' | translate }}</mat-label>
        <mat-select formControlName="indicacion_salida_audio" name="oAudio">
            <mat-option *ngFor="let type of oAudio" [value]="type.value">
                {{type.viewValue | translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div class="custom-row" *ngIf="displayPreferredBSSMethod">
        <mat-form-field appearance="fill">
            <mat-label>{{ 'resource.radio.metodo_BSS' | translate }}</mat-label>
            <mat-select formControlName="metodo_bss" name="bssMethods" (selectionChange)="checkSelectedMethod()">
                <mat-option *ngFor="let type of bssMethods" [value]="type.value">
                    {{type.viewValue | translate }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" *ngIf="displayTableBss">
            <mat-label>{{ 'resource.radio.tableBSS' | translate }}</mat-label>
            <mat-select formControlName="tabla_bss_id" name="tablesBss" [disabled]="disableTableSelector" >
                <mat-option *ngFor="let type of tablesBss" [value]="type.idtabla_bss">
                    {{type.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-form-field *ngIf="displayGRSDelay" appearance="fill">
        <mat-label>{{ 'resource.radio.grs' | translate }}</mat-label>
        <input matInput type="number" formControlName="retraso_interno_grs">
        <mat-error *ngIf="resourceForm.controls['retraso_interno_grs'].hasError('required')">
            {{ appset.FIELD_REQUIRED | translate }}
        </mat-error>
        <mat-error *ngIf="resourceForm.controls['retraso_interno_grs'].hasError('min') || resourceForm.controls['retraso_interno_grs'].hasError('max')">
            {{ appset.RANGE_0_250 | translate }}
        </mat-error>
</mat-form-field>

    <mat-checkbox formControlName="evento_ptt_squelch">{{ 'resource.radio.ptt_event' | translate }}</mat-checkbox>
    <mat-checkbox formControlName="habilita_grabacion" *ngIf="displayRecordCheckbox">{{ 'resource.radio.enable_record' | translate }}</mat-checkbox>
</form>