<form class="main-form" [formGroup]="resourceForm">
    <mat-form-field appearance="legacy">
        <mat-label>AGVN User Name</mat-label>
        <input matInput formControlName="ats_user" (change)="checkAGVNName($event)" [maxLength]="6">
        <mat-error *ngIf="resourceForm.get('ats_user')?.hasError('pattern')">
            {{ appset.INVALID_AGV_NUMBER }}
        </mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="iEnableNoED137">Permite Llamadas No ED137</mat-checkbox>
    <mat-checkbox formControlName="deteccion_vox" [disabled]="false" (change)="resetVoxValues($event.checked)">
        Deteccion VOX</mat-checkbox>
    <mat-form-field appearance="legacy" *ngIf="detectVoxIsChecked">
        <mat-label>Umbral Vox (dB)</mat-label>
        <input matInput formControlName="umbral_vox">
        <mat-error *ngIf="resourceForm.get('umbral_vox')?.hasError('min') || resourceForm.get('umbral_vox')?.hasError('max')">
            {{ appset.INVALID_RANGE_VAD }}
        </mat-error>
        <mat-error *ngIf="resourceForm.get('umbral_vox')?.hasError('pattern')">
            {{ appset.NUMBERS_FORMAT_INVALID }}
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" *ngIf="detectVoxIsChecked">
        <mat-label>Cola Vox (sg.)</mat-label>
        <input matInput formControlName="cola_vox">
        <mat-error *ngIf="resourceForm.get('cola_vox')?.hasError('min') || resourceForm.get('cola_vox')?.hasError('max')">
            {{ appset.INVALID_RANGE_VOX_QUEUE }}
        </mat-error>
        <mat-error *ngIf="resourceForm.get('cola_vox')?.hasError('pattern')">
            {{ appset.NUMBERS_FORMAT_INVALID }}
        </mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="iControlTmLlam" (change)="resetCallDuration($event.checked)">Duración de Llamada por Tiempo</mat-checkbox>
    <mat-form-field appearance="legacy" *ngIf="duracionLlamadaIsChecked">
        <mat-label>Tiempo maximo de Llamada (sg)</mat-label>
        <input matInput formControlName="iTmMaxConversacion">
        <mat-error *ngIf="resourceForm.get('iTmMaxConversacion')?.hasError('min') || resourceForm.get('iTmMaxConversacion')?.hasError('max')">
            {{ appset.INVALID_RANGE_TIME }}
        </mat-error>
    </mat-form-field>
</form>