<form class="main-form" [formGroup]="resourceForm">
    <mat-form-field appearance="legacy">
        <mat-label>{{ 'resource.tlf.AVGNUser' | translate }}</mat-label>
        <input matInput formControlName="ats_user" (change)="checkAGVNName($event)" [maxLength]="6">
        <mat-error *ngIf="resourceForm.get('ats_user')?.hasError('pattern')">
            {{ appset.INVALID_AGV_NUMBER | translate }}
        </mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="iEnableNoED137">{{ 'resource.tlf.iEnableED137' | translate }}</mat-checkbox>
    <mat-checkbox formControlName="deteccion_vox" [disabled]="false" (change)="resetVoxValues($event.checked)">{{ 'resource.tlf.detect_vox' | translate }}</mat-checkbox>
    <mat-form-field appearance="legacy" *ngIf="detectVoxIsChecked">
        <mat-label>{{ 'resource.tlf.umbral_vox' | translate }}</mat-label>
        <input matInput formControlName="umbral_vox">
        <mat-error *ngIf="resourceForm.get('umbral_vox')?.hasError('min') || resourceForm.get('umbral_vox')?.hasError('max')">
            {{ appset.INVALID_RANGE_VAD | translate }}
        </mat-error>
        <mat-error *ngIf="resourceForm.get('umbral_vox')?.hasError('pattern')">
            {{ appset.NUMBERS_FORMAT_INVALID | translate }}
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="legacy" *ngIf="detectVoxIsChecked">
        <mat-label>{{ 'resource.tlf.vox_tail' | translate }}</mat-label>
        <input matInput formControlName="cola_vox">
        <mat-error *ngIf="resourceForm.get('cola_vox')?.hasError('min') || resourceForm.get('cola_vox')?.hasError('max')">
            {{ appset.INVALID_RANGE_VOX_QUEUE | translate }}
        </mat-error>
        <mat-error *ngIf="resourceForm.get('cola_vox')?.hasError('pattern')">
            {{ appset.NUMBERS_FORMAT_INVALID | translate }}
        </mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="iControlTmLlam" (change)="resetCallDuration($event.checked)">{{ 'resource.tlf.call_dur_per_time' | translate }}</mat-checkbox>
    <mat-form-field appearance="legacy" *ngIf="duracionLlamadaIsChecked">
        <mat-label>{{ 'resource.tlf.time_max_call' | translate }}</mat-label>
        <input matInput formControlName="iTmMaxConversacion">
        <mat-error *ngIf="resourceForm.get('iTmMaxConversacion')?.hasError('min') || resourceForm.get('iTmMaxConversacion')?.hasError('max')">
            {{ appset.INVALID_RANGE_TIME | translate }}
        </mat-error>
    </mat-form-field>
</form>