<div class="main">
    <div class="download-btns" *ngIf="ready">
        <button mat-raised-button (click)="downloadPDF()">{{ 'button.pdf' | translate }}</button>
        <button mat-raised-button (click)="downloadExcel()">{{ 'button.csv' | translate }}</button>
    </div>

    <div class="title">
        {{ 'maintenance.version' | translate }}
    </div>

    <spinner *ngIf="!ready"></spinner>

    <div class="mat-elevation-z8" *ngIf="ready">

        <div class="table-row">
            <div class="table-column">
                <div class="label">
                    {{ 'maintenance.version' | translate }}
                </div>
            </div>
            <div class="table-column">
                <div class="version-text" *ngIf="version && version.version != null && version.subversion != null">
                    {{ version.version }}.{{ version.subversion}}, {{version.date}}
                </div>
            </div>
        </div>

        <div class="table-row">
            <div class="table-column">
                <div class="label">
                    {{ 'maintenance.nodeJS' | translate }}
                </div>
            </div>
            <div class="table-column">
                <div class="node-text" *ngIf="version && version.nodejsversion">
                    {{ version.nodejsversion }}
                </div>
            </div>
        </div>

        <div class="table-row">
            <div class="table-column">
                <div class="label">
                    {{ 'maintenance.MySQL' | translate }}
                </div>
            </div>
            <div class="table-column">
                <div class="mysql-text" *ngIf="version && version.mysqlversion">
                    {{ version.mysqlversion }}
                </div>
            </div>
        </div>
    </div>

    <div class="title files" *ngIf="ready">
        {{ 'maintenance.files' | translate }}
    </div>
    <div class="mat-elevation-z8" *ngIf="ready">
        <div class="table-row" *ngFor="let file of version.file">
            <div class="table-column">
                <div class="label">
                    {{ file.Name }}
                </div>
            </div>
            <div class="table-column">
                <div class="label">
                    {{ file.date }}
                </div>
            </div>
            <div class="table-column">
                <div class="label">
                    {{ file.fileSizeInBytes }}
                </div>
            </div>
            <div class="table-column">
                <div class="label">
                    {{ file.md5 }}
                </div>
            </div>
        </div>
    </div>
</div>