<div class="main">
    <div class="title">
        <div *ngIf="type == 'CREATE' && !visualizationMode">{{ 'audiobss.create_table' | translate }}</div>
        <div *ngIf="type == 'EDIT' && !visualizationMode">{{ 'audiobss.modify_table' | translate }}</div>
        <div *ngIf="visualizationMode">{{ 'audiobss.view_table' | translate }}</div>
    </div>

    <form class="form" [formGroup]="tableBssForm">

        <spinner *ngIf="showSpinner"></spinner>

        <div class="col">
            <mat-form-field appearance="fill" [ngClass]="{'error': tableBssForm.controls['name'].hasError('pattern')}">
                <mat-label>{{ 'audiobss.id_table' | translate }}</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="tableBssForm.controls['name'].hasError('required')">
                    {{ appset.FIELD_REQUIRED | translate }}
                </mat-error>
                <mat-error *ngIf="tableBssForm.controls['name'].hasError('pattern')">
                    {{ appset.INVALID_NAME | translate }}
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>{{ 'audiobss.description' | translate }}</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>

            <mat-form-field *ngIf="type == 'EDIT'" appearance="fill">
                <mat-label>{{ 'audiobss.creation_date' | translate }}</mat-label>
                <input matInput formControlName="FechaCreacion">
            </mat-form-field>
        </div>

        <div class="col">

            <div class="mat-elevation-z8">
                <div class="header-row">
                    <div class="header-column">
                        {{ 'audiobss.nucleo' | translate }}
                    </div>
                    <div class="header-column">
                        {{ 'audiobss.rssi' | translate }}
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-column">
                        {{ 0 }}
                    </div>
                    <div class="table-column">
                        <mat-form-field class="select" appearance="fill">
                            <mat-select formControlName="valor0">
                                <mat-option [value]="type" *ngFor="let type of rssiValues">
                                    {{ type }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-column">
                        {{ 10 }}
                    </div>
                    <div class="table-column">
                        <mat-form-field class="select" appearance="fill">
                            <mat-select formControlName="valor1">
                                <mat-option [value]="type" *ngFor="let type of rssiValues">
                                    {{ type }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-column">
                        {{ 20 }}
                    </div>
                    <div class="table-column">
                        <mat-form-field class="select" appearance="fill">
                            <mat-select formControlName="valor2">
                                <mat-option [value]="type" *ngFor="let type of rssiValues">
                                    {{ type }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-column">
                        {{ 30 }}
                    </div>
                    <div class="table-column">
                        <mat-form-field class="select" appearance="fill">
                            <mat-select formControlName="valor3">
                                <mat-option [value]="type" *ngFor="let type of rssiValues">
                                    {{ type }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-column">
                        {{ 40 }}
                    </div>
                    <div class="table-column">
                        <mat-form-field class="select" appearance="fill">
                            <mat-select formControlName="valor4">
                                <mat-option [value]="type" *ngFor="let type of rssiValues">
                                    {{ type }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-column">
                        {{ 50 }}
                    </div>
                    <div class="table-column">
                        <mat-form-field class="select" appearance="fill">
                            <mat-select formControlName="valor5">
                                <mat-option [value]="type" *ngFor="let type of rssiValues">
                                    {{ type }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

        </div>

    </form>

    <div class="btns">
        <button mat-raised-button *ngIf="type == 'CREATE' && !visualizationMode" (click)="createTableBss()">{{
            'button.save' | translate }}</button>
        <button mat-raised-button *ngIf="type == 'EDIT' && !visualizationMode" (click)="editTableBss()">{{ 'button.save'
            | translate }}</button>
        <button mat-raised-button *ngIf="type == 'EDIT' && !visualizationMode" (click)="deleteTableBss()">{{
            'button.delete' | translate }}</button>
        <button mat-raised-button (click)="dialogRef.close()" cdkFocusInitial>{{ 'button.cancel' | translate }}</button>
    </div>
</div>