<mat-tree class="tree" [dataSource]="dataSource" [treeControl]="treeControl" *ngIf="ready">

    <div class="node-tree">
        <mat-tree-node class="node" [ngClass]="{'selected': node == selected}" *matTreeNodeDef="let node"
            matTreeNodePadding matTreeNodePaddingIndent="20">
            <button class="btn leaf" (click)="navigateTo(node)" mat-icon-button
                [ngClass]="{'selected': node == selected}" [disabled]="disableMenu">
                <div class="name">
                    {{ node.name | translate }}
                </div>
            </button>
        </mat-tree-node>
    </div>

    <div class="node-tree">
        <mat-tree-node class="node" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding
            matTreeNodePaddingIndent="20">
            <button class="btn" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
                <div class="name">
                    {{ node.name | translate }}
                </div>
            </button>
        </mat-tree-node>
    </div>
</mat-tree>

<div class="user">

    <div class="about" (click)="aboutDialog()">
        {{ 'ul-side.about' | translate }}
    </div>

    <div class="username">
        {{ 'ul-side.username' | translate }} {{ user.name }}
    </div>
    <div class="profile">
        {{ 'ul-side.profile' | translate }} {{ userProfile }}
    </div>
    <div class="logout">
        <button mat-raised-button class="custom-raised-btn" (click)="logout()">{{ 'button.logout' | translate}}</button>
    </div>
</div>