<div class="login-container">

    <form class="login-form">

        
        <div class="translate">
            <app-translate></app-translate>
        </div>

        <div class="logo"></div>

        <div class="error alert-danger" *ngIf="showErrorLogin()" [ngClass]="showErrorLogin()">
            <em class="fa fa-times-circle"></em>
            <div class="message">{{ errorMessage | translate }}</div>
        </div>

        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>{{ 'login.user' | translate }}</mat-label>  
              <input matInput [(ngModel)]="credentials.username" [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>{{ 'login.password' | translate }}</mat-label>  
                <input matInput type="password" [(ngModel)]="credentials.password" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
        </form>

        <div class="submmit-btn">
            <button mat-raised-button class="btn" (click)="login()">{{ 'login.login' | translate }}</button>
        </div>

    </form>

</div>