<div class="main">
    <div class="title">
        {{'Crear nueva configuración'}}
    </div>
    
    <form class="form" [formGroup]="configForm">

        <mat-form-field appearance="fill" [ngClass]="{'error': configForm.controls['name'].hasError('pattern')}">
            <mat-label>{{'Id. Configuración'}}</mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="configForm.controls['name'].hasError('required')">
                {{ 'Este campo es obligatorio.' }}
            </mat-error>
            <mat-error *ngIf="configForm.controls['name'].hasError('pattern')">
                {{ 'No se pueden usar caracteres especiales como espacios,?,-,@, ni identificadores de usuario de longitud mayor de 32 caracteres.' }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'Descripción'}}</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>

        <div class="form-item" *ngIf="supervisedConfigPermission()">                    
            <mat-label>{{'Configuración Supervisada'}}</mat-label>
            <mat-checkbox class="checkbox" formControlName="activa"></mat-checkbox>
        </div>

    </form>

    <div class="btns">
        <button mat-raised-button (click)="createConfiguration()">{{'Guardar'}}</button>
        <button mat-raised-button (click)="dialogRef.close()" cdkFocusInitial>{{'Cancelar'}}</button>
    </div>
</div>