<div class="main">
    <div class="title">
        {{ 'config.create_conf' | translate }}
    </div>
    
    <form class="form" [formGroup]="configForm">

        <mat-form-field appearance="fill" [ngClass]="{'error': configForm.controls['name'].hasError('pattern')}">
            <mat-label>{{ 'config.id_conf' | translate }}</mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="configForm.controls['name'].hasError('required')">
                {{ appset.FIELD_REQUIRED | translate }}
            </mat-error>
            <mat-error *ngIf="configForm.controls['name'].hasError('pattern')">
                {{ appset.INVALID_NAME | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{ 'config.description' | translate }}</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>

        <div class="form-item" *ngIf="supervisedConfigPermission()">                    
            <mat-label>{{ 'config.supervised_conf' | translate }}</mat-label>
            <mat-checkbox class="checkbox" formControlName="activa"></mat-checkbox>
        </div>

    </form>

    <div class="btns">
        <button mat-raised-button (click)="createConfiguration()">{{ 'button.save' | translate }}</button>
        <button mat-raised-button (click)="dialogRef.close()" cdkFocusInitial>{{ 'button.cancel' | translate }}</button>
    </div>
</div>