<form class="main-form" [formGroup]="resourceForm">
    <mat-form-field appearance="legacy">
        <mat-label>{{ 'resource.tlf.AVGNUser' | translate }}</mat-label>
        <input matInput formControlName="ats_user" (change)="checkAGVNName($event)" [maxLength]="6">
        <mat-error *ngIf="resourceForm.get('ats_user')?.hasError('pattern')">
            {{ appset.INVALID_AGV_NUMBER | translate }}
        </mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="iEnableNoED137">{{ 'resource.tlf.iEnableED137' | translate }}</mat-checkbox>
    <mat-checkbox formControlName="DetInversionPol" *ngIf="false">{{ 'resource.tlf.det_inv_pol' | translate }}</mat-checkbox>
    <mat-checkbox formControlName="iDetLineaAB">{{ 'resource.tlf.det_linea_AB' | translate }}</mat-checkbox>
</form>