<div class="main">
    <div class="title">
        {{ 'config.copy_conf' | translate }} {{ configuration.name }}
    </div>

    <form class="form" [formGroup]="copyForm">

        <spinner *ngIf="showSpinner"></spinner>

        <mat-form-field appearance="fill" [ngClass]="{'error': copyForm.controls['name'].hasError('pattern')}">
            <mat-label>{{ 'config.id_conf' | translate }}</mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="copyForm.controls['name'].hasError('required')">
                {{ appset.FIELD_REQUIRED | translate }}
            </mat-error>
            <mat-error *ngIf="copyForm.controls['name'].hasError('pattern')">
                {{ appset.INVALID_NAME | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{ 'config.description' | translate }}</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>

    </form>

    <div class="btns">
        <button mat-raised-button (click)="confirm()">{{ 'button.confirm' | translate }}</button>
        <button mat-raised-button (click)="dialogRef.close()">{{ 'button.cancel' | translate }}</button>
    </div>
</div>