<div class="main" *ngIf="ready">
    <div class="title">
        {{ 'config.configuration' | translate }} {{configuration.name}}
    </div>

    <div class="back">
        <button mat-icon-button (click)="back()" aria-label="Volver a configuración">
            <mat-icon>keyboard_backspace</mat-icon>
            {{ 'button.back' | translate }}
        </button>
    </div>

    <div class="config">
        
        <div class="config-data">
        
            <spinner *ngIf="showSpinner"></spinner>

            <form class="form" [formGroup]="configForm">
    
                <mat-form-field appearance="fill" [ngClass]="{'error': configForm.controls['name'].hasError('pattern')}">
                    <mat-label>{{ 'config.id_conf' | translate }}</mat-label>
                    <input matInput required formControlName="name">
                    <mat-error *ngIf="configForm.controls['name'].hasError('required')">
                        {{ appset.FIELD_REQUIRED | translate }}
                    </mat-error>
                    <mat-error *ngIf="configForm.controls['name'].hasError('pattern')">
                        {{ appset.INVALID_NAME | translate }}
                    </mat-error>
                </mat-form-field>
        
                <mat-form-field appearance="fill">
                    <mat-label>{{ 'config.description' | translate }}</mat-label>
                    <input matInput formControlName="description">
                </mat-form-field>
        
                <div class="form-item" *ngIf="!supervisionMode">                    
                    <mat-label>{{ 'config.supervised_conf' | translate }}</mat-label>
                    <mat-checkbox class="checkbox" formControlName="activa" (click)="isSupervisedcb()"></mat-checkbox>
                </div>

                <div class="form-item" *ngIf="supervisionMode">                    
                    <mat-label>{{ 'config.supervised_conf' | translate }}</mat-label>
                    <mat-checkbox class="checkbox" [(ngModel)]="supervised" (click)="isSupervisedcb()" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                </div>
        
                <mat-form-field appearance="fill">
                    <mat-label>{{ 'config.last_modif_UTC' | translate }}</mat-label>
                    <input matInput formControlName="fecha_activacion">
                </mat-form-field>
        
            </form>
    
        </div>

        <div class="btns" *ngIf="supervisionMode">
            <button class="col" mat-raised-button (click)="saveSupervisedConfig()">{{ 'button.save' | translate}}</button>
        </div>
        <div class="btns" *ngIf="!visualizationMode">
            <div class="col first">
                <button mat-raised-button (click)="applyChanges()">{{ 'button.activate' | translate }}</button>
            </div>
            <div class="col last">
                <button mat-raised-button (click)="saveConfig()">{{ 'button.save' | translate }}</button>
                <button mat-raised-button (click)="deleteConfig()">{{ 'button.delete' | translate }}</button>
                <button mat-raised-button (click)="copyConfig()">{{ 'button.copy' | translate }}</button>    
                <button mat-raised-button (click)="downloadPDF()">{{ 'button.pdf' | translate }}</button>
                <button mat-raised-button (click)="downloadExcel()">{{ 'button.csv' | translate }}</button>
            </div>
        </div>
    
    </div>

    <div class="sites">
        <div class="title">
            {{ 'location.locations' | translate }}
        </div>
        <div class="btn">
            <div class="no-sites" *ngIf="getValidSites().length === 0">
                {{ 'location.no_locations' | translate }}
            </div>
            <button mat-raised-button class="create-btn local-btn" *ngIf="!visualizationMode" (click)="createSite()">{{ 'button.new_location' | translate }}</button>
        </div>

        <mat-accordion *ngIf="getValidSites().length > 0">
            <mat-expansion-panel (opened)="openedSite(site)" [disabled]="clickButton" (click)="clickButton=false" *ngFor="let site of configurationSites">
                <mat-expansion-panel-header>
                    <div class="site-panel-header">
                        <div class="name">
                            {{ site.nameSite }}
                        </div>
                        <button mat-raised-button class="modify-btn local-btn" *ngIf="!visualizationMode" (click)="modifySite(site)">{{ 'button.modify' | translate}}</button>
                        <button mat-raised-button class="modify-btn local-btn" *ngIf="visualizationMode" (click)="modifySite(site)">{{ 'button.see' }}</button>                        
                    </div>
                </mat-expansion-panel-header>
                <mat-panel-description class="site-panel-content">
                    <div class="site-gateway" (click)="goToGateway(gateway)" *ngFor="let gateway of site.gateways">
                        <div class="name">
                            {{ gateway.name }}
                        </div>
                        <div class="ipinfo">{{gateway.ipInfo}}</div>
                        <div class="last-updated">
                            {{ gateway.ultima_actualizacion }}
                        </div>
                        <div class="pending-to-update">
                            <mat-checkbox class="checkbox" [checked]="gateway.pendiente_actualizar === 1" [disabled]="true"></mat-checkbox>
                        </div>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel> 
        </mat-accordion>
    </div>

    <div class="gateways">
        <div class="title">
            {{ 'gateway.gateways' | translate }}
        </div>
        <div class="no-gtw">
            <div class="no-gateways" *ngIf="configurationGateways.length === 0">
                {{ 'gateway.nogateways' | translate }}
            </div>    
        </div>
        <div class="gateway-panel mat-elevation-z8" *ngIf="configurationGateways.length > 0">
            <div class="gateway" (click)="goToGateway(gateway)" *ngFor="let gateway of configurationGateways">
                <div class="name">
                    {{ gateway.name }} ({{ gateway.nameSite }})
                </div>
                <div class="ipinfo">{{gateway.ipInfo}}</div>
                <div class="last-updated">
                    {{ gateway.ultima_actualizacion }}
                </div>
                <div class="pending-to-update">
                    <mat-checkbox class="checkbox" [checked]="gateway.pendiente_actualizar === 1" [disabled]="true"></mat-checkbox>
                </div>
            </div>
        </div>
    </div>

</div>