<div class="configuration">

    <div class="title">
        {{ 'config.confs' | translate }}
    </div>

    <div class="btn" *ngIf="!visualizationMode">
        <button mat-raised-button class="create-btn local-btn" (click)="createConfiguration()">{{ 'button.new_conf' | translate }}</button>
    </div>

    <div class="mat-elevation-z8" *ngIf="dataSource && dataSource.data && dataSource.data.length > 0">
        <mat-table [dataSource]="dataSource" class="table">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> {{ 'config.name' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> {{ 'config.desc' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastUpdated">
                <mat-header-cell *matHeaderCellDef> {{ 'config.last_modif' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.fecha_activacion }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="supervised">
                <mat-header-cell *matHeaderCellDef [ngClass]="'w-100'"> {{ 'config.supervised' | translate }} </mat-header-cell>
                <mat-cell *matCellDef="let row" [ngClass]="'w-100'">            
                    <mat-checkbox class="checkbox" [checked]="row.activa === 1" [disabled]="true"></mat-checkbox>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="['name', 'description', 'lastUpdated', 'supervised']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['name', 'description', 'lastUpdated', 'supervised']" class="config-row" (click)="configSelected(row)"></mat-row>
        </mat-table>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
    </div>
</div>