.audio-bss-table {

    margin: 15px;

    .btn {

        display: flex;
        margin: 20px 0;
        
        .local-btn {

            margin: auto;
            margin-right: 0;
        }
    }

    .table {

        mat-cell, mat-header-cell {
        
            display: flex;
        }
    }
}