<div class="audio-bss-table">

    <div class="title">
        {{ 'audiobss.tableBSS' | translate }}
    </div>

    <div class="btn" *ngIf="!visualizationMode">
        <button mat-raised-button class="create-btn local-btn" (click)="createTableAudioBSS()">{{ 'button.new_table' | translate }}</button>
    </div>

    <spinner *ngIf="showSpinner"></spinner>

    <div class="mat-elevation-z8" *ngIf="dataSource && dataSource.data && dataSource.data.length > 0">
        <mat-table [dataSource]="dataSource" class="table">
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>{{ 'audiobss.ID' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef> {{ 'audiobss.description' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-raised-button class="modify-btn"
                        (click)="modifyTableBss(row)" *ngIf="!visualizationMode">{{ 'button.modify' | translate }}</button>
                        <button mat-raised-button class="modify-btn"
                        (click)="visualizeTableBss(row)" *ngIf="visualizationMode">{{ 'button.see' | translate }}</button>
                </mat-cell>
            </ng-container>

            <!-- Header and Row Declarations -->
            <mat-header-row *matHeaderRowDef="['id', 'description', 'actions']"></mat-header-row>
            <mat-row *matRowDef="let row; columns: ['id', 'description', 'actions']"></mat-row>
        </mat-table>

        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
    </div>
</div>