.footer {

    font-size: small;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;

    .version {

        display: flex;
        justify-content: center;

        .r16 {
            margin-left: 5px;
        }
    }
}