<div class="main">
    <div class="title" *ngIf="type === 'EDIT'">
        {{ 'location.location' | translate }} {{ site.nameSite }}
    </div>
    <div class="title" *ngIf="type === 'CREATE'">
        {{ 'location.create' | translate }} 
    </div>
    <div class="title" *ngIf="type === 'IMPORT'">
        {{ 'config.import_title' | translate }}
    </div>

    <form class="form" [formGroup]="siteForm" *ngIf="type !== 'IMPORT'">
        <mat-form-field appearance="fill" [ngClass]="{'error': siteForm.controls['name'].hasError('pattern')}">
            <mat-label>{{ 'config.name' | translate }}</mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="siteForm.controls['name'].hasError('required')">
                {{ appset.FIELD_REQUIRED | translate }}
            </mat-error>
            <mat-error *ngIf="siteForm.controls['name'].hasError('pattern')">
                {{ appset.INVALID_NAME | translate }}
            </mat-error>
        </mat-form-field>
    </form>

    <form class="form" [formGroup]="importForm" *ngIf="type === 'IMPORT'">
        <mat-form-field appearance="fill">
            <mat-label>{{ 'config.name' | translate }}</mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="importForm.controls['name'].hasError('required')">
                {{ appset.FIELD_REQUIRED | translate }}
            </mat-error>
            <mat-error *ngIf="siteForm.controls['name'].hasError('pattern')">
                {{ appset.INVALID_NAME | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'gateway.ip_virtual' | translate }}</mat-label>
            <input matInput required formControlName="ipv">
            <mat-error *ngIf="importForm.controls['ipv'].hasError('required')">
                {{ appset.FIELD_REQUIRED | translate }}
            </mat-error>
            <mat-error *ngIf="importForm.controls['ipv'].hasError('pattern')">
                {{ appset.INVALID_IP | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{'IP GATEWAY'}}</mat-label>
            <input matInput required formControlName="gatewayf">
            <mat-error *ngIf="importForm.controls['gatewayf'].hasError('required')">
                {{ appset.FIELD_REQUIRED | translate }}
            </mat-error>
            <mat-error *ngIf="importForm.controls['gatewayf'].hasError('pattern')">
                {{ appset.INVALID_IP | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'gateway.ip_cpu0' | translate }}</mat-label>
            <input matInput required formControlName="cpu0">
            <mat-error *ngIf="importForm.controls['cpu0'].hasError('required')">
                {{ appset.FIELD_REQUIRED | translate }}
            </mat-error>
            <mat-error *ngIf="importForm.controls['cpu0'].hasError('pattern')">
                {{ appset.INVALID_IP | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{ 'gateway.ip_cpu1' | translate }}</mat-label>
            <input matInput required formControlName="cpu1">
            <mat-error *ngIf="importForm.controls['cpu1'].hasError('required')">
                {{ appset.FIELD_REQUIRED | translate }}
            </mat-error>
            <mat-error *ngIf="importForm.controls['cpu1'].hasError('pattern')">
                {{ appset.INVALID_IP | translate }}
            </mat-error>
        </mat-form-field>
    </form>

    <div class="btns" *ngIf="type === 'CREATE'">
        <div class="site-btns">
            <button mat-raised-button *ngIf="!visualizationMode" (click)="saveSite()">{{ 'button.save' | translate }}</button>
            <button mat-raised-button class="cancel-btns" (click)="dialogRef.close()" cdkFocusInitial>{{ 'button.cancel' | translate }}</button>
        </div>
    </div>
    <div class="btns" *ngIf="type === 'EDIT'">
        <div class="gateway-btns" *ngIf="!visualizationMode">
            <button mat-raised-button  (click)="createGateway()">{{ 'button.create_gtw' | translate }}</button>
            <input type="file" accept="application/JSON" style="display: none;" #importGW (change)="importGateway($event)">
            <button mat-raised-button (click)="importGW.click()">{{ 'button.import_gtw' | translate }}</button>
        </div>
        <div class="site-btns" *ngIf="!visualizationMode">
            <button mat-raised-button (click)="updateSite()">{{ 'button.upd_location' | translate }}</button>    
            <button mat-raised-button (click)="deleteSite()">{{ 'button.del_location' | translate }}</button>
        </div>
        <button mat-raised-button class="cancel-btns" (click)="dialogRef.close()" cdkFocusInitial>{{ 'button.cancel' | translate }}</button>
    </div>
    <div class="btns" *ngIf="type === 'IMPORT'">
        <div class="site-btns">
            <button mat-raised-button *ngIf="!visualizationMode" (click)="importGtwModified()">{{ 'button.save' | translate }}</button>
            <button mat-raised-button class="cancel-btns" *ngIf="!visualizationMode" (click)="cancelModifyImportGtw()">{{ 'button.cancel' | translate }}</button>
        </div> 
    </div>
</div>