<div class="main">
    <div class="title" *ngIf="type === 'EDIT'">
        {{'Emplazamiento: '}} {{ site.nameSite }}
    </div>
    <div class="title" *ngIf="type === 'CREATE'">
        {{'Crear emplazamiento'}} 
    </div>
    <div class="title" *ngIf="type === 'IMPORT'">
        {{'Editar datos importación'}}
    </div>

    <form class="form" [formGroup]="siteForm" *ngIf="type !== 'IMPORT'">
        <mat-form-field appearance="fill" [ngClass]="{'error': siteForm.controls['name'].hasError('pattern')}">
            <mat-label>{{'Nombre'}}</mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="siteForm.controls['name'].hasError('required')">
                {{ appset.FIELD_REQUIRED }}
            </mat-error>
            <mat-error *ngIf="siteForm.controls['name'].hasError('pattern')">
                {{ appset.INVALID_NAME }}
            </mat-error>
        </mat-form-field>
    </form>

    <form class="form" [formGroup]="importForm" *ngIf="type === 'IMPORT'">
        <mat-form-field appearance="fill">
            <mat-label>{{'Nombre'}}</mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="importForm.controls['name'].hasError('required')">
                {{ appset.FIELD_REQUIRED }}
            </mat-error>
            <mat-error *ngIf="siteForm.controls['name'].hasError('pattern')">
                {{ appset.INVALID_NAME }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{'IPV'}}</mat-label>
            <input matInput required formControlName="ipv">
            <mat-error *ngIf="importForm.controls['ipv'].hasError('required')">
                {{ appset.FIELD_REQUIRED }}
            </mat-error>
            <mat-error *ngIf="importForm.controls['ipv'].hasError('pattern')">
                {{ appset.INVALID_IP }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{'IP Cpu 0'}}</mat-label>
            <input matInput required formControlName="cpu0">
            <mat-error *ngIf="importForm.controls['cpu0'].hasError('required')">
                {{ appset.FIELD_REQUIRED }}
            </mat-error>
            <mat-error *ngIf="importForm.controls['cpu0'].hasError('pattern')">
                {{ appset.INVALID_IP }}
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>{{'IP Cpu 1'}}</mat-label>
            <input matInput required formControlName="cpu1">
            <mat-error *ngIf="importForm.controls['cpu1'].hasError('required')">
                {{ appset.FIELD_REQUIRED }}
            </mat-error>
            <mat-error *ngIf="importForm.controls['cpu1'].hasError('pattern')">
                {{ appset.INVALID_IP }}
            </mat-error>
        </mat-form-field>
    </form>

    <div class="btns" *ngIf="type === 'CREATE'">
        <div class="site-btns">
            <button mat-raised-button *ngIf="!visualizationMode" (click)="saveSite()">{{'Guardar'}}</button>
            <button mat-raised-button class="cancel-btns" (click)="dialogRef.close()" cdkFocusInitial>{{'Cancelar'}}</button>
        </div>
    </div>
    <div class="btns" *ngIf="type === 'EDIT'">
        <div class="gateway-btns" *ngIf="!visualizationMode">
            <button mat-raised-button  (click)="createGateway()">{{'Crear pasarela'}}</button>
            <input type="file" accept="application/JSON" style="display: none;" #importGW (change)="importGateway($event)">
            <button mat-raised-button (click)="importGW.click()">{{'Importar pasarela'}}</button>
        </div>
        <div class="site-btns" *ngIf="!visualizationMode">
            <button mat-raised-button (click)="updateSite()">{{'Actualizar emplazamiento'}}</button>    
            <button mat-raised-button (click)="deleteSite()">{{'Eliminar emplazamiento'}}</button>
        </div>
        <button mat-raised-button class="cancel-btns" (click)="dialogRef.close()" cdkFocusInitial>{{'Cancelar'}}</button>
    </div>
    <div class="btns" *ngIf="type === 'IMPORT'">
        <div class="site-btns">
            <button mat-raised-button *ngIf="!visualizationMode" (click)="importGtwModified()">{{'Guardar'}}</button>
            <button mat-raised-button class="cancel-btns" *ngIf="!visualizationMode" (click)="cancelModifyImportGtw()">{{'Cancelar'}}</button>
        </div> 
    </div>
</div>