<div class="historic">
    <div class="title">
        {{ 'Históricos' }}
    </div>

    <spinner *ngIf="!ready"></spinner>
    <div class="globalFilters">
        <mat-form-field appearance="fill">
            <mat-label>{{'Fecha de inicio'}}</mat-label>
            <input matInput [ngxMatDatetimePicker]="pickerStartDate" [(ngModel)]="dateStart" [max]="dateEnd"
                (dateChange)="cleanGlobalControls($event)">
            <mat-datepicker-toggle matSuffix [for]="$any(pickerStartDate)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerStartDate [showSeconds]="false"></ngx-mat-datetime-picker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'Fecha de fin'}}</mat-label>
            <input matInput [ngxMatDatetimePicker]="pickerEndDate" [(ngModel)]="dateEnd" [min]="dateStart"
                (dateChange)="cleanGlobalControls($event)">
            <mat-datepicker-toggle matSuffix [for]="$any(pickerEndDate)"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #pickerEndDate [showSeconds]="false">
            </ngx-mat-datetime-picker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label> Límite </mat-label>
            <mat-select [(value)]="selectedLimit" (selectionChange)="cleanGlobalControls($event)">
                <mat-option [value]="limit" *ngFor="let limit of limitOptions">
                    {{ limit }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="filter">
        <mat-form-field class="type-selector" appearance="fill">
            <mat-label>{{'Filtrar recursos'}}</mat-label>
            <mat-select [(value)]="selectedFilter" multiple (selectionChange)="updateData(false)">
                <mat-option [value]="filter" *ngFor="let filter of filters">
                    {{ filter }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="sub-filter">

            <mat-form-field appearance="fill" *ngIf="selectedFilter.includes('Tipo')">
                <mat-label>{{'Tipo'}}</mat-label>
                <mat-select [(value)]="selectedType" multiple (selectionChange)="updateData(false)">
                    <mat-option [value]="type.value" *ngFor="let type of typeOptions">
                        {{ type.viewValue }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="selectedFilter.includes('Descripción')">
                <mat-label>Descripción</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="selectedFilter.includes('Grupo')">
                <mat-label>{{'Grupo'}}</mat-label>
                <mat-select [(ngModel)]="selectedGroup" multiple (selectionChange)="updateData(false)">
                    <mat-option [value]="group.TipoHw" *ngFor="let group of groupOptions">
                        {{ group.TipoHw }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="selectedFilter.includes('Componente')">
                <mat-label>{{'Componente'}}</mat-label>
                <mat-select [(ngModel)]="selectedComponent" multiple (selectionChange)="updateData(false)">
                    <mat-option [value]="component.IdHw" *ngFor="let component of componentOptions">
                        {{ component.IdHw }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="selectedFilter.includes('Tipo de registro')">
                <mat-label>{{'Tipo de registro'}}</mat-label>
                <mat-select [(ngModel)]="selectedRegister" multiple (selectionChange)="updateData(false)">
                    <mat-option [value]="register.IdIncidencia" *ngFor="let register of codeOptions">
                        {{ register.Incidencia }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div>


    <div *ngIf="ready && dataSource && dataSource.data && dataSource.data.length === 0">
        {{ 'No hay resultados'}}
    </div>

    <div class="table" *ngIf="ready && dataSource && dataSource.data && dataSource.data.length > 0">
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" class="table">
                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'w-175'">Fecha</mat-header-cell>
                    <mat-cell *matCellDef="let row" [ngClass]="'w-175'"> {{row.FechaHora}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="group">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'w-125'"> Grupo </mat-header-cell>
                    <mat-cell *matCellDef="let row" [ngClass]="'w-125'"> {{row.TipoHw}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="component">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'w-100'">Componente</mat-header-cell>
                    <mat-cell *matCellDef="let row" [ngClass]="'w-100'"> {{row.IdHw}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.Descripcion}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'w-100'">Tipo</mat-header-cell>
                    <mat-cell *matCellDef="let row" [ngClass]="'w-100'"> {{row.Alarma && row.Alarma === 1 ? 'Alarma' :
                        'Evento'}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="recognized">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'w-100'"> Reconocida </mat-header-cell>
                    <mat-cell *matCellDef="let row" [ngClass]="'w-100'"> {{row.Reconocida}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="alarmType">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'w-100'"> TipoAlarma </mat-header-cell>
                    <mat-cell *matCellDef="let row" [ngClass]="'w-100'"> {{ row.Alarma && row.Alarma === '1' ?
                        row.TipoAlarma : '' }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="user">
                    <mat-header-cell *matHeaderCellDef [ngClass]="'w-150'"> Usuario </mat-header-cell>
                    <mat-cell *matCellDef="let row" [ngClass]="'w-150'"> {{row.Usuario}} </mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="['date', 'group', 'component', 'description', 'type', 'recognized', 'alarmType', 'user']">
                </mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: ['date', 'group', 'component', 'description', 'type', 'recognized', 'alarmType', 'user']">
                </mat-row>
            </mat-table>

            <mat-paginator [pageSize]="10" [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25, 50, 100]">
            </mat-paginator>
        </div>
    </div>
    <div class="action-btns">
        <div class="download-btns" *ngIf="ready && dataSource && dataSource.data && dataSource.data.length > 0">
            <button mat-raised-button (click)="downloadPDF()">{{'PDF'}}</button>
            <button mat-raised-button (click)="downloadExcel()">{{'Excel'}}</button>
        </div>
        <button mat-raised-button id="getBtn" (click)="updateData(true)">
            {{'Obtener'}}
        </button>
    </div>

</div>