:host {
    .historic {
        margin: 15px;
        display: flex;
        flex-direction: column;
        height: calc(100% - 30px);

        mat-form-field {
            margin-left: 1em;
        }
        .globalFilters {
            display: inline-flex;
        }
        .filter {
            display: flex;

            .sub-filter {
                margin-left: 5px;

                mat-form-field {
                    margin: 0 5px;
                }

                .type-selector {
                    width: 350px;
                }
            }
        }

        .spinner {
            display: flex;
            justify-content: center;
            margin: auto;
            margin-top: 150px;

            ::ng-deep circle {
                stroke: #48803e;
            }
        }

        .table {
            flex: 1;

            .w-75 {
                max-width: 75px;
            }

            .w-100 {
                max-width: 100px;
            }

            .w-125 {
                max-width: 125px;
            }

            .w-150 {
                max-width: 150px;
            }

            .w-175 {
                max-width: 175px;
            }
        }
        .action-btns {
            display: flex;
            margin-top: inherit;
            .download-btns {
                display: flex;
                button {
                    margin-left: 5px;
                }
            }

            #getBtn {
                display: flex;
                width: fit-content;
                margin-left: auto;
            }
        }
    }
}
