<div class="main">
    <div class="title">
        <div *ngIf="type == 'CREATE'">{{'Crear nuevo recurso'}}</div>
        <div *ngIf="type == 'EDIT'">{{'Modificar recurso'}}</div>
    </div>

    <form class="form" [formGroup]="extResourceFrom">

        <mat-form-field appearance="fill">
            <mat-label>{{'URI'}}</mat-label>
            <input matInput formControlName="uri">
            <mat-error *ngIf="extResourceFrom.controls['uri'].hasError('pattern')">
                {{ 'El formato URI introducido no es correcto' }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" [ngClass]="{'error': extResourceFrom.controls['alias'].hasError('pattern')}">
            <mat-label>{{'Alias'}}</mat-label>
            <input matInput formControlName="alias">
            <mat-error *ngIf="extResourceFrom.controls['alias'].hasError('pattern')">
                {{ 'No se pueden usar caracteres especiales como espacios,?,-,@, ni identificadores de usuario de longitud mayor de 32 caracteres.' }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'Tipo de recurso'}}</mat-label>
            <mat-select formControlName="tipo">
                <mat-option [value]="type.value" *ngFor="let type of typesMap">
                    {{type.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div class="btns">
        <button mat-raised-button (click)="createOrEditExternalResource()">{{'Guardar'}}</button>
        <button mat-raised-button *ngIf="type == 'EDIT'" (click)="deleteExtResource()">{{'Eliminar'}}</button>
        <button mat-raised-button (click)="dialogRef.close()" cdkFocusInitial>{{'Cancelar'}}</button>
    </div>
</div>