:host {

    .external-resources {
        
        margin: 15px;

        .filter {

            display: flex;

            .type-selector {
                margin-right: auto;
            }

            .btn {

                margin: auto;
                margin-right: 0;
            }
        }

        .table {

            mat-cell, mat-header-cell {
            
                display: flex;
            }

            .edit-btn {
                background-color: gainsboro;
            }
        }
    }
}