<div class="main">
    <div class="title">
        {{ 'gateway.copy_gtw' | translate }} {{ gateway.name }}
    </div>

    <form class="form" [formGroup]="copyForm">

        <spinner *ngIf="showSpinner"></spinner>

        <mat-form-field appearance="fill" [ngClass]="{'error': copyForm.controls['name'].hasError('pattern')}">
            <mat-label>{{ 'gateway.ID_gtw' | translate }}</mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="copyForm.controls['name'].hasError('required')">
                {{ appset.FIELD_REQUIRED | translate }}
            </mat-error>
            <mat-error *ngIf="copyForm.controls['name'].hasError('pattern')">
                {{ appset.INVALID_NAME | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'Dirección IP Virtual'}}</mat-label>
            <input matInput required formControlName="ipv">
            <mat-error *ngIf="copyForm.controls['ipv'].hasError('required')">
                {{ appset.FIELD_REQUIRED | translate }}
            </mat-error>
            <mat-error *ngIf="copyForm.controls['ipv'].hasError('pattern')">
                {{ appset.INVALID_IP | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{ 'gateway.ip_cpu0' | translate }}</mat-label>
            <input matInput required formControlName="ipCpu0">
            <mat-error *ngIf="copyForm.controls['ipCpu0'].hasError('required')">
                {{ appset.FIELD_REQUIRED | translate }}
            </mat-error>
            <mat-error *ngIf="copyForm.controls['ipCpu0'].hasError('pattern')">
                {{ appset.INVALID_IP | translate }}
            </mat-error>
        </mat-form-field>

        
        <mat-form-field appearance="fill">
            <mat-label>{{'gateway.ip_cpu1' | translate }}</mat-label>
            <input matInput required formControlName="ipCpu1">
            <mat-error *ngIf="copyForm.controls['ipCpu1'].hasError('required')">
                {{ appset.FIELD_REQUIRED | translate }}
            </mat-error>
            <mat-error *ngIf="copyForm.controls['ipCpu1'].hasError('pattern')">
                {{ appset.INVALID_IP | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'gateway.ip_gateway' | translate }}</mat-label>
            <input matInput required formControlName="ipGTW">
            <mat-error *ngIf="copyForm.controls['ipGTW'].hasError('required')">
                {{ appset.FIELD_REQUIRED | translate }}
            </mat-error>
            <mat-error *ngIf="copyForm.controls['ipGTW'].hasError('pattern')">
                {{ appset.INVALID_IP | translate }}
            </mat-error>
        </mat-form-field>

    </form>

    <div class="btns">
        <button mat-raised-button (click)="confirm()">{{ 'button.confirm' | translate }}</button>
        <button mat-raised-button (click)="dialogRef.close()">{{ 'button.cancel' | translate }}</button>
    </div>
</div>