<div class="main">
    <div class="title">
        {{'Copiar pasarela: '}} {{ gateway.name }}
    </div>

    <form class="form" [formGroup]="copyForm">

        <mat-form-field appearance="fill" [ngClass]="{'error': copyForm.controls['name'].hasError('pattern')}">
            <mat-label>{{'Id. Pasarela'}}</mat-label>
            <input matInput required formControlName="name">
            <mat-error *ngIf="copyForm.controls['name'].hasError('required')">
                {{ 'Este campo es obligatorio.' }}
            </mat-error>
            <mat-error *ngIf="copyForm.controls['name'].hasError('pattern')">
                {{ 'No se pueden usar caracteres especiales como espacios,?,-,@, ni identificadores de usuario de longitud mayor de 32 caracteres.' }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'Dirección IP Virtual'}}</mat-label>
            <input matInput required formControlName="ipv">
            <mat-error *ngIf="copyForm.controls['ipv'].hasError('required')">
                {{ 'Este campo es obligatorio.' }}
            </mat-error>
            <mat-error *ngIf="copyForm.controls['ipv'].hasError('pattern')">
                {{ 'Debe introducir una IP válida.' }}
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>{{'Ip Cpu0'}}</mat-label>
            <input matInput required formControlName="ipCpu0">
            <mat-error *ngIf="copyForm.controls['ipCpu0'].hasError('required')">
                {{ 'Este campo es obligatorio.' }}
            </mat-error>
            <mat-error *ngIf="copyForm.controls['ipCpu0'].hasError('pattern')">
                {{ 'Debe introducir una IP válida.' }}
            </mat-error>
        </mat-form-field>

        
        <mat-form-field appearance="fill">
            <mat-label>{{'Ip Cpu1'}}</mat-label>
            <input matInput required formControlName="ipCpu1">
            <mat-error *ngIf="copyForm.controls['ipCpu1'].hasError('required')">
                {{ 'Este campo es obligatorio.' }}
            </mat-error>
            <mat-error *ngIf="copyForm.controls['ipCpu1'].hasError('pattern')">
                {{ 'Debe introducir una IP válida.' }}
            </mat-error>
        </mat-form-field>

    </form>

    <div class="btns">
        <button mat-raised-button (click)="confirm()">{{'Confirmar'}}</button>
        <button mat-raised-button (click)="dialogRef.close()">{{'Cancelar'}}</button>
    </div>
</div>