<div class="about" *ngIf="ready">
    <div class="title">
        {{ 'about.title' | translate }}
    </div>
    <div class="body">
        <h2 class="redan-title">
            {{ 'about.redan_title' | translate }}
        </h2>
        <p class="version">
            {{localConfig.Version}}.{{localConfig.SubVersion}}, {{localConfig.Date}}
        </p>
        <div class="copyright"> 
            {{ 'about.copyright' | translate }}
        </div>
        <div class="licence">
            <p style="text-align: right"><a [href]="licenseEndpoint" target="_blank">{{ 'about.licence' | translate }}</a></p>
        </div>
    </div>
    <div class="btn">
        <button class="custom-raised-btn" mat-raised-button (click)="dialogRef.close()" cdkFocusInitial>{{ 'button.accept' | translate }}</button>
    </div>
</div>